@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
//font-family: 'Pathway Gothic One', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Hind:400,600');
//font-family: 'Hind', sans-serif;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
//font-family: 'PT Sans', sans-serif;

//background

body{
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
}

.container{
  position: inherit;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  .texte{
    font-family: 'Hind', sans-serif;
    padding: 6%;
  }
}

.background{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: 50% 50%;
  max-height: 550px;
  height: 100%;
  z-index: -1;
  filter: opacity(45%);
}

.chapter-name{
  h2{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
  }
}

//nav
.menu{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.33);
  padding: 5%;
  background: #dfdfdf;
  a{
    color: #636b6f;

  }

}

//home

.button-game, .button-login{
  display: grid;
  grid-template-columns: 1fr;

  a{
    margin: 2% 3%;
    padding: 2% 3%;
    background: #1f648b;
    text-align: center;
  }

}

//event

.image-perso{
  position: absolute;
  right: 0;
  top: 0;
  max-height: 490px;
  text-align: center;
  img{
    max-height: 442px;
  }
  span{
    text-align: center;
  }
  h4{
    font-family: 'Hind', sans-serif;
  }
}


.button{
  div{
    background: #5b5554 ;
    padding: 4%;
    margin: 2%;
    border-radius: 2pt;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    a{
      text-decoration: none;
      color: #ffffff!important;
    }
  }
  a{
    text-decoration: none;
    color: #ffffff!important;
  }
}


.menu{


}

.character-container{
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 486px;
  div{
    padding: 1% 2%;
  }
  .dialogue{
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    p{
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 110%;
      font-style: italic;

    }
  }
}

.question{
  h4{
    margin: 6% 2%;
    font-family: 'Hind', sans-serif;
  }
}


.recommencer{
  text-align: center;

  a{
    padding: 10px;
    background-color: #970a08;
    color: #ffffff;
  }
}


