//homez

.button-game, .button-login{
  display: grid;
  grid-template-columns: 1fr;

  a{
    margin: 2% 3%;
    padding: 2% 3%;
    background: #1f648b;
    text-align: center;
  }

}

//event

.image-perso{
  width: 100%;
  img{
    width: 100%;
  }
}


.button{
  div{
    background: #5e5d5d ;
    padding: 2% 4%;
    margin: 2%;
    a{
      text-decoration: none;
      color: #ffffff;
    }
  }
}
