//background

body{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.container{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.chapter-name{
  h2{
    text-align: center;
  }
}

//nav
.menu{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.33);
  padding: 5%;
  background: #dfdfdf;
  a{
    color: #636b6f;

  }

}

//home

.button-game, .button-login{
  display: grid;
  grid-template-columns: 1fr;

  a{
    margin: 2% 3%;
    padding: 2% 3%;
    background: #1f648b;
    text-align: center;
  }

}

//event

.image-perso{
  width: 100%;
  text-align: center;
  img{
    width: 100%;
  }
  span{
    text-align: center;
  }
}


.button{
  div{
    background: #999999 ;
    padding: 4%;
    margin: 2%;
    border-radius: 2pt;
    a{
      text-decoration: none;
      color: #ffffff!important;
    }
  }
  a{
    text-decoration: none;
    color: #ffffff!important;
  }
}


.menu{


}

.character-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  div{
    padding: 1% 2%;
  }
  .dialogue{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      font-size: 110%;
    }
  }
}

.question{
  h4{
    margin: 6% 2%;
  }
}


